@media (width > 100em) and (orientation: landscape) {

    :root {
        --width: 100%;
    }

    body {
        font-size: 1.4vmin;
    }

    main {
        width: var(--width);

        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-gap: 0.5vmin;
        padding: 1vmin;
        grid-template-areas: "head head head head head"
                                "nav  nav  nav  nav  nav";

        article {

            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            margin-bottom: 0;
            padding: calc(var(--space) / 4);

            &>* {
                border-radius: calc(var(--space) / 4);;
                padding: 1vmin 2vmin;
                margin: 0;

                h3 {
                    margin: 0;
                }

            }

            &>*:hover {
                border-color: var(--col1);
                background-color: var(--highlight-bg-hover);
            }


            ul {
                padding: 0;
            }
        }

    }

    :target>* {
        border-color: var(--col1);
        background-color: var(--highlight-bg);
    }

} 